*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui;
}



a{
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

/*

                THIS IS THE FIRST SECTION -1-

*/

#landing{
    animation-name: left-in;
    animation-duration: 1s;
}

@keyframes left-in{
    0%{
        transform: translateX(-100rem);
    }

    100%{
        transform: translateX(0);
    }
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.logo__react{
    display: flex;
    align-items: center;
}

.logo{
    height: 50px;
    width: 50px;
    margin-right: 12px;
}

.nav__logo--title{
    font-weight: 900;
    font-size: 1.5rem;
    color: #243e63;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__link{
    padding: 0 24px;
    font-size: 14px;
    color: black;
}

.nav__link1{
    color: #f7fafc;
    font-weight: 700;
}


.first__button{
    padding: 0.75rem 2rem;
    background-color: #6415ff;
    border: none;
    font-size: 14px;
    border-radius: 9999px;
    cursor: pointer;
}

.first__button:hover{
    background-color: #243e63;
    transition: all 300ms ease;
    opacity: 0.9;
}

.btn__menu{
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    cursor: pointer;
    display: none;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
    animation: float 200ms ease-out;
}

.menu--open{ /*JAVASCRIPT*/
    overflow-y: hidden; /*SCROLL BAR*/
    transition: all 200ms ease-out;
}

@keyframes float{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-24rem);
    }
}


.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link{
    color: #1A202C;
}

.menu__list{
    list-style: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom-width: 2px;
    border-color: transparent;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.backdrop__button{
    padding: 0.75rem 2rem;
    background-color: #6415ff;
    border: none;
    font-size: 18px;
    border-radius: 9999px;
    font-weight: 700;
    color: #f7fafc;
    cursor: pointer;
}

.menu__backdrop{
    position: absolute;
    background-color: #f7fafc;
    border-radius: 0.5rem;
    border: 1px solid rgb(226, 232, 240);
    margin: 1.5rem 1rem;
    padding: 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 36vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.btn__menu--close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #7342d6;
}


.purple{
    color: #6415ff;
}

.container{                          /*THIS IS CONTAINER HERE*/
    width: 100%;
    max-width: 1200px;
    padding: 6rem 26px;
    margin: 0 auto;
    display: flex;
}

.first__title{
    font-size: 48px;
    color: #1A202C;
    width: 427px;
    height: 90px;
}

.intro__para{
    font-size: 18px;
    margin: 32px 0;
    color: #243e63;
}

.twocolumn__input{
    max-width: 28rem;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.input__target{
    width: 100%;
    border: solid #a0aec0;
    opacity: 0.4;
    border-radius: 9999px;
    border-width: 2px;
    font-weight: 500;
    font-size: 16px;
    padding-left: 32px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 12rem;
    transition: all 300ms ease;
}


input:focus {
    color: #000;
    opacity: 0.9;
    border: solid #6415ff;
}


.second__button{
    right: 0;
    top: 6px;
    margin-right: 0.5rem;
    padding: 1rem 36px;
    background-color: #6415ff;
    border: none;
    border-radius: 9999px;
    position: absolute;
    cursor: pointer;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
}

.second__button:hover{
    background-color: #243e63;
    transition: all 300ms ease;
    opacity: 0.9;
}

.featured{
    width: 80%;
    margin-top: 80px;
}

.trust__customers{
    font-size: 12px;
    color: #a0aec0;
    font-weight: bolder;
}

.logo__strip{
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
}

.left__side{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right__side{
    width: 60%;
}

.illustration{
    width: 100%;
}

/*

                                            THIS IS THE SECOND SECTION -2-

*/

main{
    padding-left: 2rem;
    padding-right: 2rem;
}

#right-in{
    animation-name: right-in;
    animation-duration: 1s;
}

@keyframes right-in{
    0%{
        transform: translateX(100rem);
    }

    100%{
        transform: translateX(0);
    }
}

.other__title{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.second__title{
    font-size: 48px;
    color: #243e63;
    font-weight: 800;
    text-align: center;
}

.intro__para1{
    color: #7C8BA1;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    max-width: 36rem;
    font-weight: 500;
    line-height: 1.625;
}

.container1{
    padding-top: 96px;
    text-align: center;
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.icon__container{
    border: rgb(226, 232, 240) solid;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    height: 67px;
}

.service{
    display: flex;
    width: calc(100%/4);
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem 0.5rem;
}

.service__description{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 12px;
}

.description{
    font-size: 16px;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 2;
    color: rgb(124 139 161);
}


/*

                                            THIS IS THE THIRD SECTION -3-

*/


.container11{
    width: 100%;
    max-width: 1200px;
    padding: 6rem 0px;
    margin: 0 auto;
    display: flex;
}

.purple__words{
    text-align: left;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.third__title{
    font-size: 48px;
    color: #243e63;
    font-weight: 800;
}

.box-1{
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.intro__para2{
    font-size: 1.125rem;
    padding-right: 2rem;
    line-height: 1.625;
    text-align: left;
    font-weight: 500;
    color: rgb(124 139 161);
}

.box-2{
    display: flex;
    align-items: center;
    width: 50%;
}

.illustration2{
    border: 1px solid rgb(226, 232, 240);
    width: 100%;
}


/*

                                            THIS IS THE FOURTH SECTION -4-

*/


.container5{
    width: 100%;
    padding: 90px 0;
    display: flex;
}

.box-3{
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.box-4{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
}

.number__box{
    display: flex;
    margin-top: 2rem;
}

.number__itself{
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    color: rgb(203 213 224);
}

.new__description{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.service__title1{
    color: #243e63;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
}

.description6{
    color: #718096;
    font-size: 14px;
    margin-top: 12px;
    max-width: 20rem;
    font-weight: 500;
    line-height: 2;
}


/*

                                            THIS IS THE FIFTH SECTION -5-

*/


.containerA{
    width: 100%;
    padding: 90px 0;
    display: flex;
}

.box-5{
    width: 100%;
}

.description12{
    text-align: left;
    padding-right: 2rem;
    margin-top: 1rem;
    line-height: 1.625;
    color: rgb(113 128 150);
}

.box-6{
    display: flex;
    align-items: center;
}

.two__box{
    display: flex;
}

.fourth__button{
    padding: 0.75rem 2rem;
    margin-top: 3rem;
    background-color: #6415ff;
    border: none;
    font-size: 16px;
    border-radius: 9999px;
    cursor: pointer;
}

.box-6{
    width: 100%;
}


/*

                                            THIS IS THE SIXTH SECTION -6-

*/


.container6{
    width: 100%;
    max-width: 1200px;
    padding: 92px 0px;
    text-align: center;
}

.intro__para3{
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    max-width: 36rem;
    margin: 0 auto;
}

.plans{
    display: flex;
    margin-left: 2rem;
}

.plan{
    margin-top: 4rem;
    margin-right: 2rem;
    width: calc(90% / 3);
    max-width: 22rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid rgb(226, 232, 240);
}

.business__plan{
    margin-top: 4rem;
    margin-right: 2rem;
    width: calc(90% / 3);
    max-width: 22rem;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 0.5rem;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.plan__feature1{
    margin-top: 1.25rem;
    font-weight: 500;
}

.plan__monthly1{
    font-weight: 700;
    letter-spacing: 0.1em;
}

.plan__button1{
    border-radius: 9999px;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    cursor: pointer;
    width: 60%;
    color: #6415ff;
}

.plan__button2{
    border-radius: 9999px;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    cursor: pointer;
    width: 60%;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: white;
}

.solid__border--color1{
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.solid__border--color2{
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.solid__border--color{
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.little__box{
    padding: 2rem 0;
}

.plan__title{
    font-size: 1.25rem;
    font-weight: 700;
}

.plan__price{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.25rem 0;
}

.plan__monthly{
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgb(160 174 192);
}

.plan__feature{
    color: rgb(113 128 150);
    margin-top: 1.25rem;
    font-weight: 500;
}

hr{
    border: 1px solid rgb(226, 232, 240);
}

.blue__line{
    border: 1px solid rgb(99, 149, 219);
}

.box__button{
    padding: 2rem 1rem;
}

.plan__button{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-radius: 9999px;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(247 250 252);
    font-weight: 700;
    cursor: pointer;
    width: 60%;
}

.plan__button:hover, .plan__button2:hover{
    transform: translate(2px, -2px);
    transition: all 300ms ease;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1);
    color: rgb(237 242 247);
}

.plan__button1:hover{
    transform: translate(2px, -2px);
    transition: all 300ms ease;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1);
    color: rgb(70 15 179);
}



/*

                                            THIS IS THE SEVENTH SECTION -7-

*/


.container7{
    width: 100%;
    max-width: 1200px;
    padding: 92px 0px;
    display: flex;
}

.box-10{
    width: 50%;
    display: flex;
    align-items: center;
}

.illustration3{
    max-width: 100%;
}

.box-11{
    width: 50%;
    padding-left: 4rem;
}

.fourth__title{
    font-size: 3rem;
    margin-top: 1rem;
    font-weight: 900;
    line-height: 1.25;
}

.intro__para5{
    text-align: left;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124 139 161);
}

.flashcard{
    width: 100%;
    margin-top: 2.5rem;
}

.star__ratings{
    color: rgb(246 173 85)
}

.rating__heading{
    color: #243e63;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.block__quote{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(74 85 104);
}

.slide{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.person{
    display: flex;
}

.woman{
    height: 5rem;
    width: 5rem;
    border-radius: 9999px;
}

h5{
    font-size: 1.25rem;
    font-weight: 700;
}

.about__details{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__person{
    display: flex;
    align-items: center;
}

.detail{
    font-weight: 500;
    color: rgb(124 139 161);
}

.arrows{
    display: flex;
    align-items: center;
}

.arrow{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-radius: 9999px;
    padding: 1rem;
    cursor: no-drop;
    background-color: rgb(237 242 247);
    color: rgb(100 21 255);
    border: none;
}

.divider{
    border: 1px solid rgb(226, 232, 240);
    height: 22px;
}



/*

                                            THIS IS THE EIGHTH SECTION -8-

*/


.row__alpha{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container8{
    width: 100%;
    padding: 6rem 0;
}

.rectangle{
    padding: 6rem 0;
    border-radius: 0.5rem;
    background-color: rgb(100 21 255);
    text-align: left;
}

.get__started{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
}


.get__started--heading{
    max-width: 32rem;
}


.started__text{
    font-size: 1.875rem;
    font-weight: 700;
    color:rgb(247 250 252);
}


.get__started--buttons{
    display: flex;
}


.get__started--link{
    border-radius: 9999px;
    border-width: 1px;
    margin-right: 2rem;
    padding: 1.25rem 2.5rem;
    letter-spacing: 0.025em;
    border-color: transparent;
    background-color: #f56565;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: #f7fafc;

}

.get__started--link:hover{
    background-color: rgb(229 62 62);
    transition: all 300ms ease;
}

.get__started--link1{
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem 2.5rem;
    letter-spacing: 0.025em;
    border-color: rgba(160, 174, 192, 1);
    background-color: rgb(100 21 255);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: #f7fafc;
}

.get__started--link1:hover{
    background-color: #f7fafc;
    color: rgb(100 21 255);
    transition: all 300ms ease;
}





/*

                                            THIS IS THE NINTH SECTION -9-

*/



#ending{
    width: 100%;
    background-color: #6415ff;
    padding: 64px 64px 76px 64px;
    margin-top: 120px;
    height: 100%;
}

.row1{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.box__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #f7fafc;
    margin-top: 24px;
}

.box__link{
    display: flex;
    flex-direction: column;
}

.footer__header{
    font-size: 16px;
    font-weight: 700;
    color: #f7fafc;
}

.just__links{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

.link__itself{
    color: #f7fafc;
    font-size: 14px;
    margin-top: 0.75rem;
}




.final__line{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    border-bottom-width: 1px;
    border-color: rgb(116 44 255);
}



/*

                                            THIS IS THE FOOTER

*/



.logo__react1{
    display: flex;
    align-items: center;
}

.logo1{
    height: 2rem;
    width: 2rem;
    margin-right: 12px;
}

.nav__logo--title1{
    color: #f7fafc;
    font-size: 1.25rem;
    font-weight: 900;
}

footer{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final__heading{
    display: flex;
    align-items: center;
    color: #cbd5E0;
    font-size: 1rem;
    font-weight: 500;
}

.fa-brands{
    width: 16px;
    height: 10px;
}

.social__media--link{
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 9999px;
    padding: 0.5rem;
    background-color: rgb(247 250 252);
    border: none;
}

.social__media--link:hover{
    background-color: rgb(203 213 224);
    transition: all 300ms ease;
}



/*

               WE REACHED THE END. THIS FINAL PART IS FOR SMARTHPHONES, TABLETS, LARGE COMPUTERS AND SMALL PHONES!

*/



@media (max-width: 1170px){
    .first__title{
        font-size: 2.25rem;
        width: 483px;
        height: 90px;
    }

    .intro__para{
        font-size: 1rem;
    }

    .right__side{
        display: flex;
        justify-content: end;
        align-items: flex-end;
    }


    .illustration{
        width: 100%;
        max-width: 32rem;
    }

    .box-10{
        width: 40%;
    }

    .box-11{
        width: 60%;
    }
}


@media (max-width: 1023px){
    .nav__links{
        display: none;
    }

    .btn__menu{
        display: block;
        font-size: 1.5rem;
    }
    
    .container{
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left__side{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 32rem;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .first__title{
        width: 512px;
        height: 38px;
        font-size: 1.875rem;
    }

    .intro__para{
        margin: 0;
        font-size: 1rem;
    }

    .featured{
        margin-top: 3rem;
    }

    .trust__customers{
        font-size: 0.875rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: rgb(160 174 192);
    }

    .logo{
        height: 2.5rem;
        width: 2.5rem;
    }

    .logo__strip{
        margin-top: 1rem;
        width: 100%;
        opacity: 0.5;
    }

    .right__side{
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*1ST SECTION*/

    .service{
        width: calc(100% / 3);
    }

    /*FOUTH SECTION*/

    .third__title{
        font-size: 2.25rem;
    }

    .two__box{
        display: flex;
        flex-direction: column;
        max-width: 18rem;
    }

    .left__box, .right__box{
        margin-top: 1rem;
    }

    /*SIXTH SECTION*/

    .intro__para3{
        width: 100%;
        text-align: center;
        font-size: 1rem;
        margin-top: 1rem;
        max-width: 36rem;
        font-weight: 500;
        line-height: 1.625;
        color: rgb(124 139 161);
    }

    .plans{
        flex-direction: column;
        align-items: center;
    }

    .plan{
        width: 100%;
        max-width: 24rem;
    }

    .business__plan{
        width: 100%;
        max-width: 24rem;
    }

    

    .fourth__title{
        font-size: 2.25rem;
    }

    .intro__para5{
        font-size: 1rem;
    }

    /*EIGHTH SECTION*/

    .get__started{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .get__started--buttons{
        margin-top: 1.5rem;
    }

    .get__started--link{
        width: auto;
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .get__started--link1{
        width: auto;
        padding: 1rem 2rem;
        font-size: 1rem;
    }

}

@media (max-width:768px){
    br{
        display: none;
    }

    .service{
        width: calc(100% / 2);
    }

    .intro__para{
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        font-size: 1rem;
    }

    .intro__para1{
        font-size: 0.875rem;
    }

    .description12{
        padding: 0;
    }

    .second__title{
        width: 100%;
    }

    /*THIRD SECTION*/

    .container11{
        display: flex;
        flex-direction: column-reverse;
    }

    .box-2{
        width: 100%;
        margin: 0 auto;
    }

    .box-1{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 28rem;
        padding-right: 0;
    }

    .third__title{
        font-size: 2.25rem;
        margin-top: 1rem;
        text-align: center;
        font-weight: 900;
        line-height: 1.25;
    }

    .intro__para2{
        margin-top: 1rem;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.625;
        color: rgb(124 139 161);
        padding-right: 0;
        margin-bottom: 1rem;
    }

    /*FOURTH SECTION*/

    .container5{
        display: flex;
        flex-direction: column;
    }

    
    .box-3{
        width: 70%;
        margin: 0 auto;
    }
    
    .box-4{
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 28rem;
        padding: 0;
        text-align: center;
    }
    
    .number__box{
        display: flex;
        flex-direction: column;
    }
    
    .new__description{
        margin: 0 auto;
    }
    
    .service__title1{
        margin-top: 1rem;
    }


    .containerA{
        display: flex;
        flex-direction: column-reverse;
    }

    .box-6{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 28rem;
    }

    .box-5{
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 28rem;
        text-align: center;
    }

    .two__box{
        margin: 0 auto;
    }

    .left__box{
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right__box{
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description12{
        text-align: center;
    }

    /*SIXTH SECTION*/

    .little__box2{
        padding: 2rem;
    }

    .plan__price{
        font-size: 2.25rem;
    }

    /*SEVENTH SECTION*/

    .container7{
        display: flex;
        flex-direction: column;
    }

    .box-10{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 28rem;
    }

    .box-11{
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
        width: 100%;
        max-width: 28rem;
        padding: 0;
        text-align: center;
    }

    .intro__para5{
        margin-top: 1.5rem;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.625;
        color: rgb(124 139 161);
    }

    .divider{
        height: 2rem;
    }

    .box__links{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .box__link{
        width: calc(100% / 3);
        margin-top: 3rem;
    }

    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .final__heading{
        font-size: 1rem;
        margin-top: 2rem;
        font-weight: 500;
    }

    .social__media--links{
        margin-top: 2rem;
    }

    .social__media--link{
        margin: 0 0.5rem;
    }

    
}

@media (max-width:639px){

    .first__title{
        margin-bottom: 1.25rem;
    }

    .second__title{
        font-size: 2.25rem;
    }

    .service{
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0.5rem;
        text-align: center;
    }

    .service__title{
        text-align: center;
    }

    .description{
        text-align: center;
    }

    .box-3{
        width: 85%;
    }

    .slide, .person{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__details{
        margin: 0 auto;
        padding-top: 0.6rem;
    }

    .arrows{
        margin-top: 2rem;
    }

    .divider{
        height: 24px;
    }

    .started__text{
        font-size: 1.5rem;
    }

    .get__started--buttons{
        display: flex;
        flex-direction: column;
        max-width: 32rem;
    }

    .get__started--link{
        margin: 0;
        padding: 12px 24px;
    }

    .link__font{
        font-size: 16px;
    }

    .get__started--link1{
        margin-top: 16px;
        padding: 12px 24px;
    }

}

@media (max-width:640px){

    .row2{
        padding: 0 2rem;
    }

    .first__title{
        width: 100%;
        min-height: 100%;
    }

    .intro__para{
        width: 100%;
    }

    .twocolumn__input{
        position: static;
    }

    .input__target{
        width: 100%;
        border-radius: 9999px;
        border-width: 2px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        font-weight: 500;
    }

    .second__button{
        position: static;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .fourth__title{
        font-size: 1.875rem;
    }
}

@media (max-width:564px){

    .intro__para{
        margin-top: calc(1.25rem * 2);
    }


    .service{
        width: calc(100% / 2);
    }

    .box-3{
        width: 100%;
    }

}

@media (max-width: 360px){

    .box__link{
        width: calc(100% / 2);
    }

    .final__heading{
        font-size: 0.875rem;
        font-weight: 500;
        text-align: center;
    }
}

@media (max-width: 343px){
    .intro__para{
        margin-top: calc(1.25rem * 4);
    }

    .right__side{
        margin-top: 3rem;
        width: 218px;
    }

    .illustration{
        width: 100%;
    }

    .third__title{
        font-size: 1.875rem;
    }

    .started__text{
        text-align: center;
    }
}
